registry=https://registry.yarnpkg.com
@wjb:registry=https://wjb-144953083930.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-libs/

//wjb-144953083930.d.codeartifact.eu-west-2.amazonaws.com/npm/npm-libs/:always-auth=true