@use '~@wjb/styling/setup-variables' as *;
@use '~@wjb/styling/main' as *;
@use './variables' as *;

@use './element/input' as *;

:root {
    @include setup-variables();

    --wjb-primary: #4db87b;
    --wjb-secondary: #4d8ab8;
    --wjb-tertiary: #644db8;

    --wjb-border-radius: 4px;

    --wjb_modal-content-background-colour: var(--wjb-background-colour);
}

.modal-component {
    & > .content-container {
        border-top: 4px solid var(--wjb-secondary);
    }
}

.flex {
    &.breakpoint {
        @media screen and (max-width: $breakpoint) {
            flex-direction: column;
        }
    }
}