@forward '@wjb/styling/variables';

$breakpoint: 540px;

@mixin gradient-border() {
    $border: 2px;

    position: relative;
    background-color: var(--wjb-background-colour);
    background-clip: padding-box;
    border: solid $border transparent;
    border-radius: var(--wjb-border-radius);
    transition: all 0.2s, background-color 0s;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -$border;
        border-radius: inherit;
        background: linear-gradient(135deg, var(--wjb-primary), var(--wjb-secondary));
    }
}